<% layout("layouts/boilerplate") %>


<div class="revs">
  <a href="/notes" id="homelink"><i class='bx bx-left-arrow-alt'></i>Home</a>
<h2>⭐ Words Of Our Proud Aspirants ⭐</h2>
<p>Don't just take our word for it — hear directly from students who have used these notes to learn smarter, save time,
crack their exams.</p>
     <div class="rev-container">
       
         <div class="review-card">
            <img src="https://res.cloudinary.com/dgxl7pkj4/image/upload/v1756651244/girl-img_r2fyy6.jpg" alt="review-img" class="review-img" loading="lazy">
            <div class="rating">
  <i class='bx bxs-star'></i>
  <i class='bx bxs-star'></i>
  <i class='bx bxs-star'></i>
  <i class='bx bxs-star'></i>
  <i class='bx bxs-star'></i>
  
</div>
      <p class="rev-text">"These notes are a lifesaver! Everything is
         explained so clearly that I understood tough topics in no time. Perfect for exam preparation."</p>
      <h4 class="reviewer-name">— Riya Sharma</h4>
    </div>


    <div class="review-card">
            <img src="https://res.cloudinary.com/dgxl7pkj4/image/upload/v1756651170/boy-icon_rtx1mr.png" alt="review-img" class="review-img" loading="lazy">
            <div class="rating">
  <i class='bx bxs-star'></i>
  <i class='bx bxs-star'></i>
  <i class='bx bxs-star'></i>
  <i class='bx bxs-star'></i>
  <i class='bx bxs-star'></i>
  
</div>
      <p class="rev-text">"I was struggling to organize my study material, 
        but these notes solved it all. Very well-structured and easy to revise before exams."</p>
      <h4 class="reviewer-name">— Aman Verma</h4>
    </div>

    <div class="review-card">
            <img src="https://res.cloudinary.com/dgxl7pkj4/image/upload/v1756651244/girl-img_r2fyy6.jpg" alt="review-img" class="review-img" loading="lazy">
            <div class="rating">
  <i class='bx bxs-star'></i>
  <i class='bx bxs-star'></i>
  <i class='bx bxs-star'></i>
  <i class='bx bxs-star'></i>
  <i class='bx bx-star'></i>
  
</div>
      <p class="rev-text">"The handwritten notes gave me a classroom-like feel.
         Simple language and neat presentation made studying stress-free and enjoyable."</p>
      <h4 class="reviewer-name">— Simran Kaur</h4>
    </div>

    <div class="review-card">
            <img src="https://res.cloudinary.com/dgxl7pkj4/image/upload/v1756651170/boy-icon_rtx1mr.png" alt="review-img" class="review-img" loading="lazy">
            <div class="rating">
  <i class='bx bxs-star'></i>
  <i class='bx bxs-star'></i>
  <i class='bx bxs-star'></i>
  <i class='bx bxs-star'></i>
  <i class='bx bxs-star'></i>
  
</div>
      <p class="rev-text">"Honestly, these notes boosted my confidence.
         I could cover more in less time and scored way better than I expected."</p>
      <h4 class="reviewer-name">— Rahul Mehta</h4>
    </div>

    <div class="review-card">
            <img src="https://res.cloudinary.com/dgxl7pkj4/image/upload/v1756651170/boy-icon_rtx1mr.png" alt="review-img" class="review-img" loading="lazy">
            <div class="rating">
  <i class='bx bxs-star'></i>
  <i class='bx bxs-star'></i>
  <i class='bx bxs-star'></i>
  <i class='bx bxs-star'></i>
  <i class='bx bx-star'></i>
  
</div>
      <p class="rev-text">"The content is organized beautifully, with important points highlighted.
         A must-have for anyone preparing seriously for govt exams."</p>
      <h4 class="reviewer-name">— Aditya Gupta</h4>
    </div>

    <div class="review-card">
            <img src="https://res.cloudinary.com/dgxl7pkj4/image/upload/v1756651170/boy-icon_rtx1mr.png" alt="review-img" class="review-img" loading="lazy">
            <div class="rating">
  <i class='bx bxs-star'></i>
  <i class='bx bxs-star'></i>
  <i class='bx bxs-star'></i>
  <i class='bx bxs-star'></i>
  <i class='bx bxs-star'></i>
  
</div>
      <p class="rev-text">"I tried many resources before, but these notes stood out. 
        Smartly written, time-saving, and exactly what students need."</p>
      <h4 class="reviewer-name">— Vikram Joshi</h4>
    </div>

    <div class="review-card">
            <img src="https://res.cloudinary.com/dgxl7pkj4/image/upload/v1756651170/boy-icon_rtx1mr.png" alt="review-img" class="review-img" loading="lazy">
            <div class="rating">
  <i class='bx bxs-star'></i>
  <i class='bx bxs-star'></i>
  <i class='bx bxs-star'></i>
  <i class='bx bxs-star'></i>
  <i class='bx bx-star'></i>
  
</div>
      <p class="rev-text">"Studying felt less overwhelming once I started using these notes.
         They break down concepts in a way that's super easy to grasp."</p>
      <h4 class="reviewer-name">— Bhupinder Singh</h4>
    </div>

     </div>
     </div>



     