


#homelink{
  display: none;
}



@media (max-width: 768px) {

  #homelink{
    display: block;
    position: absolute;
    top: 4.5rem;
    left: 0.8rem;
    font-size: 0.7rem;
    text-decoration: none;
    
  }

}